.body {
  background-color: #e9ecef;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbotron {
  padding-top: 75px;
  margin: 0 auto;
  height: calc(100vh - 60px);
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-line;
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  margin: 0;
  padding: 0;
  display: block;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
  line-height: inherit;
  white-space: nowrap;
}
